venv
venv2
spark-warehouse
.idea
401_fix.py
test_401.py
_main.py
yammer_curated_transforms.py
yammer_params.py
test.py
yammer_trusted_transforms.py
*__pycache__
__pycache__/
.coverage
MANIFEST
coverage.xml
nosetests.xml
junit-report.xml
pylint.txt
toy.py
.cache/
cover/
build/
docs/_build
requests.egg-info/
*.pyc
*.swp
*.egg
env/
.venv/
.eggs/
.tox/
.pytest_cache/
.vscode/
.env
.workon

t.py

t2.py
dist
deploy.py
/.mypy_cache/

ETL_lib.egg-info/*
ETL_lib.egg-info/
transit_curated_transforms.py
transit_params.py
transit_trusted_transforms.py
transits_etl.py